@tailwind base;
@tailwind components;
@tailwind utilities;


.category_btn_hidescrollbar {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .category_btn_hidescrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .category_btn_hidescrollbar {
    overflow: hidden;
  }
    
